.member-card{
    padding: 1rem;
    width: 25rem;
    background-color: rgba(127, 144, 221, 0.3);
    margin: 10px;
    border-radius: 30px;
}
.member-card:hover{
    transform: scale(0.99);
    filter: brightness(90%);
}

.member-picture{
    width: 100px;
    border-radius: 15px;
    margin: 0 auto;
}