nav{
    background-color: rgb(30, 76, 116);
    background-color: var(--dark-green);
    height: 60px;
    display: flex;
    align-items: center;
}

.path{
    /* background-color: black; */
    color: var(--lavender);
    text-decoration: none;
    font-size: 24px;
    padding: 6px;
    margin: 0 30px;
}

.path:hover{
    color: var(--purple);
}
