@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    font-family: 'Inter', sans-serif;
    --dark-green: #1A3A3A;
    --dark-purple: #4F517D;
    --purple: #A997DF;
    --lavender: #DCCFEC;

}